.menu {
    margin-left: 100px;
    margin-top: 20px;
    color: rgb(108, 41, 184);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    display: inline-block;
    font-weight: 300;
}

.menu:hover {
    color:rgb(250, 93, 255)
}

.title {
    margin-left: 350px;
    width: 800px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    margin-top: 100px;
    display: block;
}

.under_title {
    color: rgb(81, 41, 228);
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 40px;
    display: inline-block;

}

.first {
    margin-left: 350px;
}

.image {
    width: 1000px;
	height: 1000px;
    display: block;
    margin: 0 auto;
}

.description {
    width: 1000px;
    display: block;
    margin: 50px auto;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 15px;
}

header {
    position: sticky;
    top: 0;
    background-color: rgb(236, 141, 255);
}

.subscribe {
    padding: 10px;
    background-color: rgb(236, 141, 255);
}

.subscribe input{
    width: 200px;
    padding: 5px;
}

.subscribe button{
    background-color: white;
    border: none;
    padding: 5px 10px;
    color: black;
    font-weight: bold;
    
}

.review {
    margin-top: 50px;
    border: 1px solid black;
    padding: 20px;
}

.rating {
    font-size: 24px;
    margin-bottom: 10px;
}

.star {
    color: rgb(0, 0, 0);
}

input[type="text"], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 20px;
}

a:link{
    color: rgb(234, 0, 255);
    background-color: transparent;
    text-decoration: solid;
}

a:visited{
    color: rgb(148, 0, 74);
    background-color: transparent;
    text-decoration: solid;
}

a:hover{
    color: rgb(80, 0, 112);
    background-color: transparent;
    text-decoration: solid;
}

a:active{
    color: rgb(48, 0, 66);
    background-color: transparent;
    text-decoration: solid;
}